$dowolny1-background-color:    #f07c05;
$dowolny1-title-color:          #f07c05;

body {
  background: $dowolny1-background-color image_url("white-bg.jpg") repeat-y 50% 0;
  color: $dowolny1-title-color;
}
